#player{
    border: solid;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    align-items: center;
    display: inline-block;
    background: #eee;
    /*vertical-align: top;
  	justify-content: center;
  	align-items: center;*/
}

#timeline{
	width: 600px;
	height: 10px;
	background: silver;
	margin: 20px;
	border-radius: 15px;
}

#playhead{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: black;
}

#audioplayer, #info{
	margin-left: 20px;
}

#audioplayer{
	margin-top: 25px;
}

#previousForm, #pButton, #nextForm, #stopForm{
	display: inline-block;
}