#player{
    width: 480px;
    border: solid;
    position: inherit;
}

#timeline{
	width: 400px;
	height: 20px;
	background: silver;
	margin-top: 20px;
	float: left;
	border-radius: 15px;
}

#playhead{
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin-top: 1px;
	background: black;
}